@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    background: #EEEEEE;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;    
}

#header{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;    
    position: fixed;
    top: 0;
    left: 20px;
    right: 20px;
    background: #EEEEEE;
    z-index: 1000;
}

#header nav a{
    color: #000;
    text-decoration: none;
}

.logoContainer{
    flex: 2;
    display: flex;
    align-items: center;
}

.logoContainer em{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.5em;
}

#nav-bar{
    flex: 1;
    display: flex;
}

.nav-link{
    flex: 1;
    margin: auto;
    text-align: center;
}

main{
    display: flex; 
    flex-direction: column;   
    margin-top: 80px;
}

.getStart{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.getStart h2{
    margin: auto;  
    display: flex;  
}

#submit{
    background: #F1C40F;
}

#form{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#form input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#submit{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}